.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.navbar--black {
  background-color: #111;
}

.navbar__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.navbar__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
